.userIcon {
    position: relative;
    cursor: pointer;
}

.userIcon__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(213, 140, 5, 0.46);
}

.userDropdown {
    position: absolute;
    top: 63px;
    right: 60px;
    background-color: #222;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    border-right: 1px solid rgba(213, 140, 5, 0.46);
    border-left: 1px solid rgba(213, 140, 5, 0.46);
}

.userDropdown a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center;
    padding: 12px 0;
}

.userDropdown a:hover{
    color: red;
    text-align: center;
    padding: 12px 0;
}

.userDropdown button {
    background-color: transparent;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    padding: 8px 0;
}

.userDropdown button:hover {
    color: darkred;
}
